header {
  background: #fff;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: left;
}

header div.logo {
  height: 70px;
  width: 155px;
  margin-left: 20px;
  background: url("/web_static/images/logo.png") no-repeat center center/cover;
}
